/*variables*/
$section: 25%;
$footer: 45%;
$container: 100%;
$orange: #e44d26;
$white: #fff; 
/*mixins*/
@mixin margin-reset {
	margin: 0 auto;
	text-align: center;
}

@mixin clearfix {
  display: inline-block;
  &:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
  * html & { height: 1px }
}

@mixin anchorlinks {
  color: $white;
  text-decoration: none;
}

@mixin sprite {
  height: 28px;
  width: 28px;
}

@mixin fonts {
  font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
}