@import "_normalize.scss";
@import "_variable.scss";

body {
	background: url(../img/bg.jpg);
	width: 90%;
	@include margin-reset;
	color: $white;
	@include fonts; 
}

.container {
	width: $container;
}

nav {
	width: $container;
	text-align: left;
	

	ul {
  		@include clearfix;
		padding: 0;
  	}
  
  	li {
  		float: left;
  		list-style: none;
		margin: 0 10px 0 10px;
  	}
 
	a {
 		@include anchorlinks;
		&:link,
		&:visited { 
			color: $white;
			padding: 10px 10px 10px 40px;
			text-transform: uppercase;
 		}
 
 		&:hover,
 		&:active {
			color: #e44d26;
		}
 
 	}
 
 	#home a:hover {
 		background: url('../img/sprite.png') no-repeat -2px 0px;
 	    }
 
 	#super a:hover {
 		background: url('../img/sprite.png') no-repeat -3px -37px;
 	    }
 
 	#html5 a:hover {
 		background: url('../img/sprite.png') no-repeat -2px -74px;
 	    }
 	
 
}

article {
	width: $container;
	@include clearfix;
		section {
		width: $section;
		float: left;

			img {
				width: $container - 20%;
			}
		}

		blockquote {
			width: $container - 4%;
		}

}

footer {
	width: $container;

	p {
		width: $footer;
		float: left;
	}
}