@import "_normalize.scss";
@import "_variable.scss";

body {
	background: url(../img/bg.jpg);
	width: 90%;
	@include margin-reset;
	color: $white;
	@include fonts; 
}
.container {
	width: $container;
}

nav {
	width: $container;
	text-align: left;
	

	ul {
		@include clearfix;
	}

	li {
		float: left;
		list-style: none;
		margin: 0 10px 0 10px;
	}

	a {
		@include anchorlinks;
		&:link,
		&:visited { 
			color: $white;
			padding: 10px 10px 10px 40px;
			text-transform: uppercase;
		}

		&:hover,
		&:active {
			color: #e44d26;
		}

	}

	#home a:hover {
		background: url('../img/sprite.png') no-repeat -2px 0px;
	    }

	#super a:hover {
		background: url('../img/sprite.png') no-repeat -3px -37px;
	    }

	#html5 a:hover {
		background: url('../img/sprite.png') no-repeat -2px -74px;
	    }
	

}

article {
	width: $container;
	@include clearfix;

		section {
		width: $section;
		float: left;
		text-align: left;

			img {
				border: .625rem solid $white;
			}

			h3 {
			font-family: 'Open Sans', sans-serif;
			}

			a {
			  @include anchorlinks;

			  &:hover,
			  &:active {
				color: #e44d26;
			  }
			}

			img + p {
			line-height: 1.5rem;
			text-indent: 2rem;
			}

			p {
				width: $container - 20%;
			}

		}

		blockquote {
			color: #e44d26;
			font-size: 2em;
			font-style: italic;
			letter-spacing: .0625rem;
		}
		
}

footer {
	width: $container;

	p {
		width: $footer;
		float: left;
		font: .625rem 'arial', sans-serif;
		text-align: left;
	}

	p:first-of-type {
		margin-right: 5%;
	}
}